akshare==1.18.46
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
backtrader==1.9.78.123
baostock==0.8.9
beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.3
cryptography==46.0.7
curl_cffi==0.13.0
decorator==5.2.1
et_xmlfile==2.0.0
fastapi==0.136.1
feedparser==6.0.12
frozendict==2.4.7
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.52.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
greenlet==3.5.0
h11==0.16.0
html5lib==1.1
httplib2==0.31.2
idna==3.11
jsonpath==0.82.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.0.2
mini-racer==0.14.1
mlx==0.31.0
multitasking==0.0.12
numpy==2.4.3
oauthlib==3.3.1
openpyxl==3.1.5
pandas==3.0.1
peewee==4.0.2
platformdirs==4.9.4
playwright==1.59.0
proto-plus==1.28.0
protobuf==7.34.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pyee==13.0.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.30.0
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8.3
starlette==1.0.0
tabulate==0.10.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.46.0
webencodings==0.5.1
websockets==16.0
wheel==0.46.3
xlrd==2.0.2
yfinance==1.2.0
